@font-face {
    font-family: 'MuseoSansCyrl900';
    src: url('fonts/MuseoSansCyrl900.eot');
    src: url('fonts/MuseoSansCyrl900.eot') format('embedded-opentype'),
         url('fonts/MuseoSansCyrl900.woff2') format('woff2'),
         url('fonts/MuseoSansCyrl900.woff') format('woff'),
         url('fonts/MuseoSansCyrl900.ttf') format('truetype'),
         url('fonts/MuseoSansCyrl900.svg#MuseoSansCyrl900') format('svg');
}
